In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("AwardNomination.csv")

In [9]:
df = pd.read_csv("query_result.csv",sep='|')

In [10]:
df

          id  idawardtype  winner                         category
0      10347           93    True              b'best music score'
1      15774          219    True              b'best music score'
2      54909          845    True              b'best music score'
3      54910          845    True              b'best music score'
4      54919          845    True              b'best music score'
...      ...          ...     ...                              ...
1248  389696         5047    True           b'best original score'
1249  390335         5047    True  b'best score comedy or musical'
1250  390340         5047    True              b'best score drama'
1251  390398         5047    True  b'best score comedy or musical'
1252  390403         5047    True              b'best score drama'

[1253 rows x 4 columns]

In [24]:
df.to_csv("AwardNomination.csv",sep='|',index=False)

In [6]:
df.to_parquet("AwardNomination.parquet")

In [7]:
pd.read_parquet("AwardNomination.parquet")

            ID  IDAwardType  Winner             Category
0         1495           45    True       cinematography
1         1547           34    True      best screenplay
2         1548           34    True      best screenplay
3         1598           34   False  best cinematography
4         1690           34   False  best cinematography
...        ...          ...     ...                  ...
248768  390413         5047   False    best sound design
248769  390414         5047   False    best sound design
248770  390415         5047    True  best visual effects
248771  390416         5047   False  best visual effects
248772  390417         5047   False  best visual effects

[248773 rows x 4 columns]

In [18]:
df[df.ID>13558]

            ID  IDAwardType  Winner                           Category
1016     13559          159    True  best western drama script fiction
1017     13560          159    True  best western drama script fiction
1018     13561          159   False  best western drama script fiction
1019     13563          159    True  best western drama script fiction
1020     13564          159    True  best western drama script fiction
...        ...          ...     ...                                ...
248768  390413         5047   False                  best sound design
248769  390414         5047   False                  best sound design
248770  390415         5047    True                best visual effects
248771  390416         5047   False                best visual effects
248772  390417         5047   False                best visual effects

[243792 rows x 4 columns]

In [23]:
df.Category = df.Category.str.encode('utf-8')

In [20]:
df.

ID                              363173
IDAwardType                       4932
Winner                           False
Category       best screenplay adapted
Name: 31364, dtype: object